#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define QUICK_TAP_MS 175

&lt {
    flavor = "balanced";
    tapping-term-ms = <200>;
    quick-tap-ms = <QUICK_TAP_MS>;
};

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <QUICK_TAP_MS>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R>;
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <QUICK_TAP_MS>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R>;
            hold-trigger-on-release;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "BASE";
            bindings = <
        &kp B  &kp L                &kp D                  &kp C            &kp V        &kp J      &kp Y             &kp O                      &kp U                 &kp COMMA
        &kp N  &hml LEFT_CONTROL R  &hml LEFT_ALT T        &hml LEFT_GUI S  &kp G        &kp P      &hmr RIGHT_GUI H  &hmr RIGHT_ALT A           &hmr RIGHT_CONTROL E  &kp I
&trans  &kp X  &kp Q                &kp M                  &kp W            &kp Z        &kp K      &kp F             &kp SINGLE_QUOTE           &kp DOUBLE_QUOTES     &kp PERIOD  &trans
                                    &mt LEFT_SHIFT ESCAPE  &lt 2 SPACE      &lt 1 TAB    &lt 1 RET  &lt 2 SPACE       &mt RIGHT_SHIFT BACKSPACE
            >;
        };

        navnum_layer {
            label = "NAVNUM";
            bindings = <
        &trans          &trans                        &trans                  &trans                     &trans       &trans        &kp KP_NUMBER_4             &kp KP_NUMBER_5             &kp KP_NUMBER_6                 &trans
        &kp LEFT_ARROW  &hml LEFT_CONTROL DOWN_ARROW  &hml LEFT_ALT UP_ARROW  &hml LEFT_GUI RIGHT_ARROW  &trans       &kp KP_SLASH  &hmr RIGHT_GUI KP_NUMBER_1  &hmr RIGHT_ALT KP_NUMBER_2  &hmr RIGHT_CONTROL KP_NUMBER_3  &kp KP_NUMBER_0
&trans  &trans          &trans                        &trans                  &trans                     &trans       &trans        &kp KP_NUMBER_7             &kp KP_NUMBER_8             &kp KP_NUMBER_9                 &kp PERIOD       &trans
                                                      &mt LEFT_SHIFT ESCAPE   &lt 2 SPACE                &lt 1 TAB    &lt 1 RET     &lt 2 SPACE                 &mt RIGHT_SHIFT BACKSPACE
            >;
        };

        symbol_layer {
            label = "SYMBOL";
            bindings = <
        &kp BACKSLASH    &kp TILDE                 &kp AMPERSAND          &kp QUESTION            &kp GRAVE    &kp AT_SIGN   &kp LEFT_BRACE                   &kp RIGHT_BRACE                   &kp LEFT_BRACKET               &kp RIGHT_BRACKET
        &kp EXCLAMATION  &hml LEFT_CONTROL DOLLAR  &hml LEFT_ALT COLON    &hml LEFT_GUI KP_EQUAL  &kp POUND    &kp KP_SLASH  &hmr RIGHT_GUI LEFT_PARENTHESIS  &hmr RIGHT_ALT RIGHT_PARENTHESIS  &hmr RIGHT_CONTROL UNDERSCORE  &kp SEMICOLON
&trans  &kp PERCENT      &kp PIPE                  &kp KP_ASTERISK        &kp KP_PLUS             &trans       &kp CARET     &kp KP_SUBTRACT                  &kp LESS_THAN                     &kp GREATER_THAN               &kp PERIOD         &trans
                                                   &mt LEFT_SHIFT ESCAPE  &lt 2 SPACE             &lt 1 TAB    &lt 1 RET     &lt 2 SPACE                      &mt RIGHT_SHIFT BACKSPACE
            >;
        };
    };
};
