#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define SYM  2
#define ADJ  3

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    macros {
        gif: gif {
            label = "giphy";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N2>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp G &kp I &kp F>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

        base_layer {
            // ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            label = "BASE";

            // ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
            //             ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
            //             ┃     Q     ┃     W     ┃     F     ┃     P     ┃     G     ┃   ┃     J     ┃     L     ┃     U     ┃     Y     ┃     ;     ┃
            //             ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
            //             ┃     A     ┃     R     ┃     S     ┃     T     ┃     D     ┃   ┃     H     ┃     N     ┃     E     ┃     I     ┃     O     ┃
            // ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
            // ┃           ┃     Z     ┃     X     ┃     C     ┃     V     ┃     B     ┃   ┃     K     ┃     M     ┃     ,     ┃     .     ┃     /     ┃           ┃
            // ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
            //                                     ┃           ┃    TAB    ┃    SPC    ┃   ┃   ENTER   ┃   BSPC    ┃           ┃
            //                                     ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

            bindings = <
        &kp B               &kp L       &kp D           &kp C        &kp V        &kp J      &kp Y        &kp O             &kp U              &kp COMMA
        &mt LEFT_CONTROL N  &mt LALT R  &mt LEFT_GUI T  &mt LSHFT S  &kp G        &kp P      &mt RSHFT H  &mt RIGHT_GUI A   &mt RALT E         &mt RIGHT_CONTROL I
&trans  &kp X               &kp Q       &kp M           &kp W        &kp Z        &kp K      &kp F        &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp PERIOD           &trans
                                        &lt 0 ESCAPE    &lt 0 SPACE  &lt 0 TAB    &lt 0 RET  &lt 0 SPACE  &lt 0 BACKSPACE
            >;
        };

        symbol_layer {
            label = "SYMB";
            bindings = <
        &kp BACKSLASH                 &kp TILDE        &kp AMPERSAND       &kp QUESTION        &kp PIPE     &kp CARET     &kp LEFT_BRACE                    &kp RIGHT_BRACE                  &kp LEFT_BRACKET     &kp RIGHT_BRACKET
        &mt LEFT_CONTROL EXCLAMATION  &mt LALT DOLLAR  &mt LEFT_GUI COLON  &mt LSHFT KP_EQUAL  &kp POUND    &kp KP_SLASH  &mt RIGHT_SHIFT LEFT_PARENTHESIS  &mt RIGHT_GUI RIGHT_PARENTHESIS  &mt RALT UNDERSCORE  &mt RIGHT_CONTROL SEMICOLON
&trans  &kp PERCENT                   &kp GRAVE        &kp KP_ASTERISK     &kp KP_PLUS         &trans       &kp AT_SIGN   &kp KP_SUBTRACT                   &kp LESS_THAN                    &kp GREATER_THAN     &kp PERIOD                   &trans
                                                       &lt 0 ESCAPE        &lt 0 SPACE         &lt 0 TAB    &lt 0 RET     &lt 0 SPACE                       &lt 0 BACKSPACE
            >;
        };

        navnum_layer {
            label = "NAVNUM";
            bindings = <
        &trans                       &trans               &trans                 &trans                 &trans       &trans        &kp KP_NUMBER_4              &kp KP_NUMBER_5            &kp KP_NUMBER_6       &trans
        &mt LEFT_CONTROL LEFT_ARROW  &mt LALT DOWN_ARROW  &mt LEFT_GUI UP_ARROW  &mt LSHFT RIGHT_ARROW  &trans       &kp KP_SLASH  &mt RIGHT_SHIFT KP_NUMBER_1  &mt RIGHT_GUI KP_NUMBER_2  &mt RALT KP_NUMBER_3  &mt RIGHT_CONTROL KP_NUMBER_0
&trans  &trans                       &trans               &trans                 &trans                 &trans       &trans        &kp KP_NUMBER_7              &kp KP_NUMBER_8            &kp KP_NUMBER_9       &kp PERIOD                     &trans
                                                          &lt 0 ESCAPE           &lt 0 SPACE            &lt 0 TAB    &lt 0 RET     &lt 0 SPACE                  &lt 0 BACKSPACE
            >;
        };
    };
};
